// @import url("https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");

.App {
    height: 100vh;
    width: 100vw;
}

p {
    margin-bottom: 0px;
}


.menu {
    position: fixed;
    // float: left;
    z-index: 10000;
    width: 300px;
    height: 100vh;
    background-color:rgba( 0, 0, 0, 0 );
    transform: translateX(-270px);
    color: white;
    padding: 5px;
    transition-property: transform, background-color;
    transition-duration: 0.6s;
  }
  
  .menu:hover {
    transform: translateX(-5px);
    background-color:rgba( 0, 0, 0, 0.7);
  
    img {
      transform: rotate( 180deg );
      filter: invert(100%);
    }
  }
  
  .menu-map{
    padding: 50px;
    h5{
      margin:0;
      padding: 0;
    }
  }
  
  .menu-map-btn{
    display: block;
    text-align: center;
    margin-top: 50px;
    background-color: rgba( 0, 0, 0, 0);
    border: 0;
    outline: 0;
  }
  
  .menuArrow {
    filter: invert(0%);
    width: 20px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    img {
      width: 100%;
    }
  }

  .userNameBox{
    margin-bottom:20px;
  }

.UtilButtonBox{
  position:absolute;
  top:0px;
  right:0px;
  z-index: 100;
  // position:fixed;
  // top:
}
.AlarmsButton{
  position:relative;
}
.AlarmsCountBox{
  position:absolute;
  right:0px;
  bottom:0px;
  font-size:12px;
}


// * {
//   font-family: "Iropke Batang", serif !important;
//   p,
//   span,
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   input {
//     transform: rotate(0.1deg);
//   }
// }

// div {
//   box-sizing: border-box;
//   p {
//     margin-bottom: 0px;
//   }
// }
// .App {
//   text-align: center;
//   background-color: #e8e3ea;
// }

// .loginBox {
//   max-width: 90%;
//   width: 700px;
//   height: 100vh;
//   margin: auto;
// }

// .stuCard {
//   width: 500px;
//   max-width: 90%;
//   margin: auto;
//   margin-top: 40px;
// }

// .trCol {
//   margin-top: 10px;
// }

// .trCard {
//   padding: 10px;
//   border-radius: 5px;
//   background-color: #eee;
//   // box-shadow: 4px 3px 3px -2px rgba(50, 50, 50, 0.75);
// }
// .w-90 {
//   width: 90%;
// }

// .inputTime {
//   width: 7rem;
//   border-radius: 5px;
//   border: solid 1px gray;
// }

// .inputText {
//   width: 95%;
//   min-width: 2rem;
// }

// .h-30 {
//   margin: auto;
// }

// .trCard Form {
//   border: dotted 0px black;
//   border-radius: 5px;
// }

// .m-0 {
//   margin: 0px;
// }

// .btn-delete {
//   height: 28px;
//   width: 30px;
//   background-color: #ee9c61;
//   color: white;
//   padding: 0px;
//   vertical-align: middle;
// }

// .m-auto {
//   margin: auto;
// }

// td {
//   padding: 10px;
//   vertical-align: middle;

//   p {
//     margin: 0px;
//   }
// }

// .btn-good {
//   background-color: #6fa1d5;
//   color: white;
// }

// .btn-bad {
//   background-color: #ee9c61;
//   border-color: #ee9c61;
// }

// .textArea {
//   width: 95%;
// }

// .mw-5rem {
//   max-width: 3rem;
// }

// Table {
//   table-layout: fixed;
// }

// .fs-13px {
//   font-size: 13px;
// }
// .th-delete {
//   max-width: 60px;
// }

// .btn-orange {
//   background-color: #807c95;
//   border: solid 2px #ac98af;
//   border-radius: 25px;
//   font-size: 25px;
// }

// .mw-95 {
//   max-width: 95%;
// }

// Form h3 {
//   text-decoration: underline;
// }

// .cube-box {
//   background-color: rgba(0, 0, 0, 0.05);
//   max-width: 600px;
//   width: 90%;
//   margin: auto;
//   border-radius: 10px;
//   padding: 10px;
// }
