.textArea {
    width: 100%;
    border-radius: 10px;
}

.btn-commit {
    margin: 10px;
    width: 80%;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}

.btn-save {
    background-color: #5500d3;
    max-width: 200px;
}