.background {
    min-height: 100%;
    background-size: cover;
    padding: 20px;
    text-align: center;
    background-color: #F0EDFF;
}

.program-add {
    background-color: black;
    border: 0px;
  }

.check-all {
    float: right;
}

.btn-sm {
    width: 23px;
    height: 23px;
    padding: 0px;
    box-sizing: border-box;
}

.lectureListBox {
    min-width: 300px;
    max-width: 1000px;
    width : 90%; 
}

.color-purple {
    background-color: #5500d3;
    border-color: #5500d3;
}

.after {
    display: inline;
}

.now {
    display: inline;
    background-color: rgb(219, 190, 26);
    color: rgb(240, 240, 240);
}

.before {
    display: inline;
    background-color: rgb(245, 110, 110) ;
    color: rgb(240, 240, 240);
}