.main-background {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: url("../../public/layered-waves-haikei.png");
  padding: 1px;
  background-size: 100% 100%;

  h1 {
    color: white;
    margin-top: 350px;
    font-size: 5rem;
    text-shadow: 4px 4px 4px gray;
    font-weight: bold;
  }
}

.box {
  transition: transform 1s;
  transform: translateY(0px);
}

.box-active {
  transform: translateY(-200px);
}

.headerBox {
  // border-color: red;
  // border-style: solid;
  h1 {
    margin-top: 50px;
  }
}

.progressBarBox{
  margin-bottom: 20px;
}

.NotFoundBox{
  width: 80%;
  height: 70%;
  max-width: 1200px;
  max-height: 630px;
  overflow-y: auto;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  display: block;
  // background-color: white;
  border-radius: 10px;
  transition-delay: 0.5s;
  transition: opacity 0.5s;
  transition-duration: 0.5s;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // border-color: red;
  // border-style: solid;
}

.NoDataPromptBox{
  height:80%;
  vertical-align: middle;
  // border: 3px solid red;
}

.NotFoundBoxFooter{
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.userTypeButton{
  margin-left: 10px;
  margin-right: 10px;
}

.userTypeText{
  font-size: 30px;
}

.userTypeIcon{
  font-size:200px;
}

.promptText{
  margin-top: 20px;
  font-size:25px;
}

.nextButton{
  margin-left:5px;
}

.termTextBox{
  width:80%;
  resize: none;
}

.form-horizontal .control-label{
  text-align: left;
}

.userInfoFormGroup{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

.userInfoRow{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

.NotFoundBoxHeader{
  display: flex;
  justify-content: center;
}

.NotFoundBoxBody{
  height:75%;
  overflow-y: auto;
}

.userInfoFeedbackInvalid{
  color: red;
  font-size:15px;
  padding: 0px;
}

.userInfoInputValidMark{
  color:green;
}

.userInfoInputBox{
  width:100%;
  height:40px;
}

.userInfoInputBox-third{
  width:30%;
  height:40px;
}

.userInfoInputBox-half{
  width:50%;
  height:40px;
}

.userInfoInputBox-40{
  width:40%;
  height:40px;
}

.margin-side-auto{
  margin-left:auto;
  margin-right:auto;
}

.margin-right-auto{
  margin-right: auto;
}

.userInfoInputLabel{
  padding: 0px;
}

.button-fixed-size{
  width: 40px;
  height: 40px;
  margin:0 0 0 0;
  padding:0 0 0 0;
}

.button-fit-content{
  width:fit-content;
  height:fit-content;
  font-size: 12px;
}

.pageNavBoxElement{
  display: inline-block;
  width:fit-content;
  height:45px;
  margin-top:0;
  margin-left:5px;
  margin-right:5px;
  vertical-align: top;
  // border: 3px solid blue;
}

.TotalPageBox{
  position:relative;
  top:30%;
  // border: 3px solid red;
}

.pageNavBoxForm{
  width:70px;
  height:40px;
  text-align: center;
}

.pageNavBox{
  width: fit-content;
  height: fit-content;
  // border: 3px solid red;
}



@media only screen and (max-width: 1000px) {
  .userTypeText{
    font-size: 20px;
  }
  
  .userTypeIcon{
    font-size:150px;
  }
}

@media only screen and (max-width: 850px) {
  .userTypeText{
    font-size: 15px;
  }
  
  .userTypeIcon{
    font-size:100px;
  }
}

.versionInfo {
  width: 100%;
  height: 25px;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 21px;
  p {
    margin: 0;
  }
}

.signUpButton {
  margin-top: 50px;
}
