* p,
span,
h2,
h3,
a,
h4,
h5,
h6,
label,
select,
th,
td,
button,
textarea {
  font-family: "NanumSquare" !important;
  transform: rotate(0.04deg);
}

.studyChart-background{
  width: 100%;
  text-align: center;
  height: 100vh;
  background-color: #F0EDFF;
  padding: 1px;
  overflow: hidden;
  h2 {
    color: black;
    margin-top: 50px;
    font-size: 2rem;
  }
}



.chartCard {
  max-width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chartElement {
  border-radius: 20px;
  border: 2px black solid;
  padding: 20px;
  margin-inline: 10px;
}