@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* p,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NanumSquare" !important;
  transform: rotate(0.04deg);
}

.stuDB-form {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.stuList-background{
  width: 100vw;
  height: 100vh;
  background: url("../../public/blurry-gradient-haikei.png");
  background-size: cover;
  padding: 1px;
  h2 {
    color: white;
    margin-top: 180px;
    font-size: 4rem;
  }
}

.stuListShow {
  opacity: 0;
  transform: translateY(200px);
  transition-delay: 0.5s;
  transition: all 0.8s;
}

.stuListShowActive {
  opacity: 1;
  transform: translateY(-50px);
}

.stuCard{
  font-family: 'NanumSquare';
  font-size: 15px;
  width: 90%;
  max-width: 600px;
  padding: 5px;
  margin: auto;
  display: block;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stuCardstuList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stuAddbtn{
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px;
  background-color: #5500d3;
}

.stuListItem{
  width: 33%;
  height: 100%;
  padding: 2px;
  border-radius: 10px;
  p {
    margin: 0;
  }
  div:hover {
    background-color: #5500d3;
    color: white;
  }
}

.stuTRItem{
  @extend .stuListItem;
  width: 100%;
}

.stuButton{
  background-color: #5500d3;
  border-radius: 10px;
  border: 0;
}

.createTRButton {
  background-color: black;
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
}

.dateContainer{
  @extend .stuListItem;
  overflow: auto;
  height: 500px;
  width: 100%;
}

.TRModal{
  padding: 30px;
}
