@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* p,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NanumSquare" !important;
  transform: rotate(0.04deg);
}

.stuDB-form {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.stuList-background{
  width: 100vw;
  height: 100vh;
  background: url("../../public/layered-waves-haikei.png");
  background-size: 100% 100%;
  padding: 1px;
  overflow: hidden;
  h2 {
    color: white;
    margin-top: 180px;
    font-size: 3rem;
    text-shadow: 3px 2px 2px gray;
  }
}


.stuListShow {
  opacity: 0;
  transform: translateY(200px);
  transition-delay: 0.5s;
  transition: all 0.8s;
}

.stuListShowActive {
  opacity: 1;
  transform: translateY(-50px);
}

.stuCard{
  font-family: 'NanumSquare';
  font-size: 15px;
  width: 90%;
  max-width: 600px;
  padding: 5px;
  margin: auto;
  display: block;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stuCardstuList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stuAddbtn{
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px;
  background-color: #5500d3;
}

.stuListItem{
  width: 33%;
  height: 100%;
  padding: 2px;
  border-radius: 10px;
  p {
    margin: 0;
    font-weight: bold;
  }
  div:hover {
    background-color: #5500d3;
    color: white;
  }
}

.WentHome{
  background-color: rgb(74, 77, 80);
  color: white;
  border: 0;
  display: flex;
  justify-content: center;
}

.AtHere {
  background-color: rgb(168, 174, 180);
  color: white;
  border: 0;
  display: flex;
  justify-content: center;
}

.NotCame{
  background-color: rgb(255, 255, 255);
  display: flex;
  // justify-content: center;
  vertical-align: middle;
  img, p {transform: translateX(57px);}
}

.NotWritten {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.TRChecked {
  background-color: rgb(168, 174, 180);
  color: white;
  border: 0;
  display: flex;
  // justify-content: center;
  vertical-align: middle;
  img, p {transform: translateX(57px);}
}

.Absent {
  background-color: rgb(74, 77, 80);
  color: white;
  display: flex;
  vertical-align: middle;
  img, p {transform: translateX(57px);}
}

.absent-sign{
  width: 10%;
  height: 80%;
  margin-top: 4px;
  margin-left: 5px;
}


.stuListItemWritten{
  @extend .stuListItem;
  background-color: black;
  color: #eee;
}

.stuTRItem{
  @extend .stuListItem;
  width: 100%;
}

.stuButton{
  background-color: #5500d3;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  // font-weight: bold;
}

.createTRButton {
  background-color: #4B4453;
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
}

.dateContainer{
  @extend .stuListItem;
  overflow: auto;
  height: 500px;
  width: 100%;
}

.TRModal{
  padding: 30px;
}

.stumap{
  display: flex;
  justify-content: center;
  text-align: center;
}

.stulistComment{
  color: white;
  font-weight: bold;
  text-align: right;
  justify-content: end;
  width: 90%;
  max-width: 600px;
  margin: auto;
  display: block;
  text-shadow: 1px 1px 1px black;
}

.commentcontainer{
  display: flex;
  justify-content: flex-end;
}

.commentbox{
  display: flex;
  justify-content: flex-end;
  p {
    margin: 0;
  }
}

.colorcomment{
  margin-top: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.colorcomment-lightgrey{
  background-color: rgb(168, 174, 180);
}

.colorcomment-darkgrey{
  background-color: rgb(74, 77, 80);
}

.absentcomment-sign{
  width: 20px;
  margin-right: 3px;
  height: 20px;
  img {
    width: 100%;
  }
}

.statesBox{
  width: 110px;
  height: 150px;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  right: 0.7%;
  top: -20%;
  border: 3px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  p{
    margin: 0;
    text-align: right;
  }
}

.TextbookCard {
  position: fixed;
  z-index: 1;
  right: 0px;
  margin-top: 40px;
  float: right;
  height: 400px;
  max-width: 100%;
  width: 800px;
  transform: translateX(760px);
  transition-duration: 0.6s;
}

.openlist {
  transform: translateX(0px);
}

.leftButton {
  float: left;
  width: 40px;
  height: 400px;
  border: none;
  background-color: #5500d3;
  color: white;
}

.listbox {
  overflow: auto;
  max-height: 400px;
}