@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* p,
span,
h2,
h3,
a,
h4,
h5,
h6,
label,
select,
th,
td,
button,
textarea {
  font-family: "NanumSquare" !important;
  transform: rotate(0.04deg);
}

.Weeklystudyfeedback-background {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  text-align: center;
  background-color: #F0EDFF;
  overflow: hidden;
}

.Weeklystudyfeedback-table p {
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.studyPercentageBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  position: relative;
}

.studyMagnitude {
  width: 40%;
}